body{
    
    margin:0;
    text-align: center;
    /* font-family: Verdana, sans-serif; */
    font-family: 'Merriweather', serif;
    line-height: 2;
}
.subtitle{
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
h1{
    margin: 3.125rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 6.25rem; 
    color: #66BFBF;
        /* 1em =16px  em -> inherits size from parent block 
        but rem (root) doest not inherit so easier to debug */
}
a{
    color: #11999E;
}

h2{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.pro{
    text-decoration: underline;
}
.top-container{
    padding-top: 100px;
    background-color: #E4F9F5;
    position:   relative;
    background-color: #E4F9F5;
}
.bottom-container{
    background-color: #E4F9F5;
}

.top-cloud{
    position:absolute ;
     /* = 50pxtop; */
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.programming{
    width: 25%;
    height: auto;
    float:left;
    padding-right: 20px;
}
.gaming{
    width: 25%;
    height: auto;
    float: right;
    padding-left: 25px;
}
/* clear is something like anti-float(unwrap) */